<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.overtime_request.to_f %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= link_to truncate(post.rationale), post %>
  </td>
  <td>
    <%= status_label post.status %>
  </td>
  <td>
    <%= link_to '', edit_post_path(post), id: "edit_#{post.id}", class: 'fa fa-edit fa-lg index-icons' if policy(post).update? %>
  </td>
  <td>
    <%= link_to '', post_path(post), method: :delete, id: "delete_post_#{post.id}_from_index", class: 'fa fa-trash fa-lg index-icons', data: {confirm: "Esta seguro que desea eliminar?"} %>
  </td>
</tr>
